.searchInput {
  font-size: 18px;
  padding: 0px 22px;
  margin: 0px 10px;
  text-align: center;
  background-color: #e1dcd8ad;
  font-family: "Petit Formal Script", cursive;
  border: none;
  box-shadow: 4px 4px 10px 0px #0000007a;
  cursor: pointer;
}

.formWrapper {
  margin-bottom: 50px;
}

.errorTest {
  font-family: "Stalemate", cursive;
  font-size: 2rem;
  width: 30rem;
  text-align: center;
  margin: 2rem 10rem 0rem auto;
}
