.wrapper {
  margin: auto;
  height: 98%;
  width: 98%;
  background-image: url(../../assets/fog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  //   background-position: center center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  position: fixed;
}
.polygon {
  width: 100vw;
  float: right;
  height: 100vh;
  shape-outside: polygon(1090px 53px, 226px 429px, 864px 505px);
  opacity: 0;
}
.icon {
  width: 20px;
  height: 20px;
}
.button {
  position: absolute;
  font-size: 32px;
  background: transparent;
  float: right;
  top: 90%;
  color: #e5d8c8;
  right: 6%;
  font-family: "Stalemate", cursive;
  border: 0;
  z-index: 1;
}
button:hover {
  filter: brightness(1.1);
  scale: 1.1;
}
.text {
  font-size: 18px;
  line-height: 30px;
  width: 55ch;
  text-align: left;
  margin-top: 10vh;
  margin-left: 23vw;
}
