.photo {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  margin: 20px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px 0px #0000007a;
  transition: 200ms;
}

.photo:hover {
  filter: brightness(1.1);
  scale: 1.1;
  box-shadow: 6px 7px 3px 0px #0000007a;
}

.autorName {
  display: inline-block;
}
