@import url("https://fonts.googleapis.com/css?family=Comic+Neue:300,400,700&display=swap");

html {
  box-sizing: border-box;
  background-color: rgb(146, 228, 210);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Comic Neue", cursive;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
