@import url("https://fonts.googleapis.com/css?family=Stalemate&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  background-color: black;
  min-height: 100vh;
  text-align: center;
  font-family: "Stalemate", cursive;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
